#svg {
    color: #0dcaf0;
}

button:hover #svg {
    color: whitesmoke;
    transition: 0.5s;
}


/*UF*/
#UF {
	max-width: 25%;
    min-width: 80px;
}






.cardCont *{
    margin: 1px;
}

#contBotao {
    display: flex;
    justify-content: center;
    align-items: center;
}
