@import url(variables.css);
@import url(template.css);


body {
    background: url('../img/loginimg.jpeg') 0 / cover fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: var(--font-color);
}


main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.form-wrapper {
    position: relative;
    padding: 20px;
    max-width: 590px;
    width: 90vw;
    background-color:var(--blur);
    border-radius: var(--border-radius);
    margin: auto;
    text-align: center;
    color: var(--font-color);
}

.form-wrapper h1 {
    color: var(--theme);

}
.form-wrapper a {
    color: var(--font-color)!important;
}

.form-wrapper  *{
    margin-top: 4vh;
}

.modal-content {
    background-color: var(--bar-color);
}


.btn-outline-primary:hover {
    border: none;
    box-shadow: none;
}
.btn-close:hover {
    border: none;
    box-shadow: none;
}

.btn-close {
    background-color: var(--font-color)!important;
}

#themeColor {
    position: absolute;
    top: 5px;
    margin: 0px;
    z-index: 2;
    
}
a {
    border-radius: 500px;
    width: 100%;
}
a:hover{
    background-color: var(--blur);
}

form .row {/*FIXME testar background sem backdrop   */
    background-color: rgba(255, 0, 0, 0)!important;
}


input::placeholder {
    background-color:unset;
}
input {
    background-color: rgba(255, 0, 0, 0);
}



input:focus {
    border:none;
}


main {
    margin-top: 0vh;
    margin-bottom: 0vh;
    
}


.form-wrapper {
    padding-bottom: 0px;
}

#themeColor {
    position: relative
}

#sun, #moon {
    color: black;
    position: initial
}


#sun {
    position: absolute;
    top: -16px;
}
#moon {
    position: absolute;
    top: -9px;
}


#color {
    background-color: var(--bar-color);
    
}