
#map {
    height: 500px;
    width: 100%
  }
  


  #infoboxdiv{  
    margin-bottom: 10px;
    opacity: 1;
    
    transition: .6s ease opacity,.6s ease transform;
  }

  input[type=textarea]#sobre {
    height: 50px;
    min-height: 50px;
    resize:none;
    background-color: black;
    }
textarea {
  resize: none;
  margin-bottom: 5px;
}

  input {
    margin: 10px 0px; 
  }

  .coordenadas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }





  


  map {
    width: 700px;
  }