<div class="title blur">
    <h1 style="color: var(--font-color);">Bem vindo, <span id="Bemvindo"
            style="color: var(--theme);">Administrador</span></h1>
</div>

<div class="row">
    <div class="col-lg-6 infoCont">
        <div class="  info">
            <h2 class="card-title">Usuários</h2>
            <h1 id="user" class="display-1">26</h1><br>
        </div>
    </div>
    <div class="col-lg-6 infoCont">
        <div class="  info">
            <h2 class="card-title">Instituições</h2>
            <h1 id="inst" class="display-1">26</h1><br>
        </div>
    </div>
    <div class="col-lg-12 infoCont">
        <div class=" info">
            <h2 class="card-title">Cursos(visiveis)</h2>
            <h1 id="cursos" class="display-1">26<span class="display-6" id="cursosTotal" >(30)</span></h1><br>
        </div>
    </div>
</div>


<script type="module" src="js/dashboard.js"></script>