<div class="slogan text-center title blur info">
    <p class="fs-1"><img src="img/SquareFill.svg" alt="" width="70" height="56" class="d-inline-block align-text-top">
        Catálogo de Cursos</p>
        <p class="text-center fs-4 fw-bold">"Se a educação sozinha não transforma a sociedade, sem ela tampouco a sociedade muda."</p>
        <p class="text-end mx-5 ">Paulo Freire</p>
</div>
<form class="row g-3 needs-validation info mt-3" onsubmit="return false;">
    <h2 class="info blur">Faça sua Pesquisa</h2>
    <div class="input-group mb-3">
        <input type="text" class="form-control info" placeholder="Digite aqui o nome do curso">
        <div class="input-group-append">
            <button id="submit" class="btn btn-outline-info info px-3" type="button">
                <i class="bi bi-search " ></i>
            </button>
        </div>
    </div>


    
    <div class="col-md-6 form-radio">
        <label>Modalidade:</label>
        <div class="form-radio">
            <input class="form-check-input info" type="checkbox">
            <label class="form-check-label">
                Presencial
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input info" type="checkbox" name="modPres" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
                Educação à Distância
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationCustomUsername" class="form-label">Turno:</label>
        <div class="input-group">
            <select class="dropdown-toggle form-control form-select info" name="" id="">
                <option default></option>
                <option value="0">Manhã</option>
                <option value="1">Tarde</option>
                <option value="2">Noite</option>
                <option value="3">Integral Matutino</option>
                <option value="4">Integral Vespertino</option>
                <option value="5">Flexivel</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustomUsername" id="uf"  class="form-label">Localização</label>
        <div class="input-group">
            <!-- UF -->
            <select class="form-control form-control-sm form-select info" name="UF" id="UF" >
                <option id='none'>UF</option>
            </select>
            <!-- Cidade -->
            <select class="form-control form-control-sm  info form-select"  id="cidade" name="idCidade">
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustomUsername"   class="form-label">Tipo:</label>
        <select name="Tipo" class="form-control form-control form-select info"  >
            <option></option>
            <option value="1">Profissionalizante</option>
            <option value="2">Técnico</option>
            <option value="3">Graduação - Técnologo</option>
            <option value="4">Graduação - Bacharel</option>
            <option value="5">Graduação - Licenciatura</option>
            <option value="6">Pós-graduação - Lato sensu</option>
            <option value="7">Pós-graduação - Stricto sensu</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="validationCustomUsername"  class="form-label">Instituição</label>
        <div class="input-group">
            <select class="dropdown-toggle form-control form-select info" name="" id="instituicoes">
                <option></option>
            </select>
        </div>
    </div>
</form>


<div id="resultadoContainer" class="py-2">
    

</div>

<script type="module" src="js/homepage.js"></script>

