<!doctype html>
<html lang="en">

<head>
  <!--Meta tags requeridas pelo Bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- Bootstrap Icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

  <link href="../VIEW/css/resetA.css" rel="stylesheet">

  <link href="../VIEW/css/login.css" rel="stylesheet">



  <title>Conectar-se</title>
</head>

<body class="container-fluid" data-theme="dark">

  <main>
   

    </div>
    <div id="alert_wrapper">

    </div>



    <!-- FIXME Login mal feito refatorar quando der -->

    <div class="form-wrapper blur d-flex flex-column">


      <h1>Conectar-se</h1>
      <hr class="hr">

      <form id="formLogin" method="POST">

        <input required type="text" name="user" class="form-control info" placeholder="Nome de Usuário">

        <input required type="password" name="password" class="form-control info" placeholder="Senha">


        <button name="login" class="btn btn-outline-primary" id="login">ENTRAR</button>
      </form>
      <a href="http://localhost/TCC/login/cadastro" id="cadastro">Ainda não possui login? Cadastrar-se</a>
      <a id="r_senha" data-bs-toggle="modal" data-bs-target="#senhaModal" data-bs-toggle="modal">Recuperar
        senha</a><br>





  </main>

  <div class="modal" id="senhaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="formSenha" class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alterar senha</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Insira seu Email.</label>
            <p>Enviaremos uma mensagem com instruções</p>
            <input type="email" class="form-control info" name="email" placeholder="email" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="nsenhaSubmit" class="btn btn-outline-primary">Enviar</button>
        </div>

      </div>

    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="../VIEW/js/login.js"></script>


</body>

</html>