<form id="fcadMod" method="POST" action='http://localhost/TCC/user/setModerador'>
    <h2>Novo Moderador</h2>
    <input type="text" name="nome" class="form-control my-5 info" placeholder="Nome Completo">
    <input type="text" id="nome" name="user" class="form-control my-5 info" placeholder="Nome de Usuário">
    <input type="email" id="email" name="email" class="form-control my-5 info" placeholder="Email">
    

    <button name="login" id="cadModerador" class="btn btn-primary">Cadastrar</button>
    <div>O sistema enviará um email ao moderador, infomando-lhe seus dados, inclusive sua senha que será gerada aleatóriamente pelo sistema</div>
</form>
<script type="text/javascript" src="../VIEW/js/moderador.js"></script>
