<div class="text-center">
    <div id="contTitulo" class="title blur highlight">
        <h3>Titulo</h3> <i id="fav" class="bi bi-heart-fill"></i>
    </div>
    <hr>
    <p class="text-justify px-3"></p>
    <div id="info">
        <span class="displa-6 blur info">Tipo: </span>
        <span class="displa-6 blur info">Modalidade: </span>
        <span class="displa-6 blur info">Turno: </span>
        <span class="displa-6 blur info">Duração: </span>
        <span class="displa-6 blur info">Localização: </span>
    </div>

</div>



<div class="text-center">
    <!-- TODO Futuramente Um placeholrde load -->
    <div class="title blur highlight"> <h3 id="titulo"  >Instituição</h3></div>
    <hr>
    <p class="text-justify px-3" id="sobre"></p>
    <div id="infoI">
        <span class="displa-6 blur info">Fone: </span>
        <span class="displa-6 blur info">Email: </span>
        <span class="displa-6 blur info">Site: </span>
        <span class="displa-6 blur info fullline">Localização: </span>
    </div>
    
    <div id="map" ></div>
    
    <h3 class="mt-3">Outros Cursos:</h3><hr>
    
    <div id="resultadoContainer"></div>
    
    
</div>
<script type='module' src="js/viewCurso.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzSXiSHwnpvLLWATkHSHvMzuAblvSR_co&libraries=visualization&callback=initMap&language=pt"></script>