<div class="text-center">
    <div id="contTitulo">
        <h3>Titulo</h3>
    </div>
    <hr>
    <p class="text-justify px-3"></p>
    <div id="info">
        <span class="btn btn-outline-dark">Tipo: </span>
        <span class="btn btn-outline-dark">Modalidade: </span>
        <span class="btn btn-outline-dark">Turno: </span>
        <span class="btn btn-outline-dark">Duração: </span>
        <span class="btn btn-outline-dark">Localização: </span>
    </div>

</div>



<div class="text-center">
    <!-- TODO Futuramente Um placeholrde load -->
    <h3 id="titulo" >Instituição</h3>
    <hr>
    <p class="text-justify px-3" id="sobre"></p>
    <div id="infoI">
        <span class="btn btn-outline-dark">Fone: </span>
        <span class="btn btn-outline-dark">Email: </span>
        <span class="btn btn-outline-dark">Site: </span>
        <span class="btn btn-outline-dark fullline">Localização: </span>
    </div>
    
    <div id="map" ></div>
    
    <h3 class="mt-3">Cursos:</h3><hr>
    
    <div id="resultadoContainer"></div>
    
    
</div>
<script type='module' src="js/viewCurso.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzSXiSHwnpvLLWATkHSHvMzuAblvSR_co&libraries=visualization&callback=initMap&language=pt"></script>